<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game</title>
    </head>
    <body>
        <h1>Game</h1>

        <main>
            <h1><%= game.name %></h1>
            <img src="<%= game.image %>" alt="<%= game.name %>" />
            <p><%= game.description %></p>
            <div>
                <form method="POST" action="/delete">
                    <div>
                        <input type="hidden" value="<%= game.id %>" name="gameId" />
                        <button>Delete</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>